# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/

# Environment variables
.env*
backups/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage/

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Temporary files
tmp/
.tmp/
uploads/*
!uploads/.gitkeep